.searchContainer {

	max-width: 1200px;
	margin: auto;
	padding: 30px 30px;
	text-align: center;
	background-color: #56340f7f;
}

.searchInput {
	width: 480vw;
	max-width: 400px;
	height: 3vw;
	max-height: 40px;
	border-radius: 4px;
	outline: none;
}

.searchBtn {
	height: 3vw;
	max-height: 40px;
	width: 60px;

	border: none;
}

.hidden {
	display: none;
}

.result-stats {
	width: 100vw;
	text-align: center;
	color: gray;
	padding-top: 15px;
	font-size: 1.5em;
}

/*
   ╔═════════════╗
   ║ IMAGES LIST ║
   ╚╦═══════════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔*/
.searchResults {
	width: 90vw;
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: 5vw;
	margin-right: 5vw;
}

.card:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in-out;
}

.cardTitle {
	text-align: center;
	padding: 20px 0px;
}

.date {
	color: rgb(56, 56, 56);
	font-size: 0.8em;
}
.card {
	width: 350px;
}
.cardIMG {
	padding: 0px;
	margin: 0px;
	height: 250px;
	width: 350px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media all and (min-width: 800px) {
	.blogCardsContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1200px;
	}

	.card {
		margin: 10px;

	}

	.cardIMG {
		height: 250px;
		width: 350px;
	}
}
