/* 
  ╔════════════╗
  ║ GLOBAL CSS ║
  ╚╦══════════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔ */
@import url(./modules/fonts.css);
@import url(css/modules/footer.css);
@import url(modules/nav.css);

:root {
	--color-hover: #ffffff;
	--color-foreground: #e2d7be;
	--color-background: #10191f;
}
* {
	color: var(--color-foreground);
}
*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}
/* 
  ╔══════╗
  ║ BODY ║
  ╚╦════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔ */
.welcomeHeader {
	padding-top: 30px;
}
body {
	min-height: 100vh;
	display: flex;
	/* justify-content: center; */
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: var(--color-background);
}
.pageDescription {
	margin-top: 100px;
}
main p:first-of-type {
	margin-top: 15px;
}
main {
	align-self: center;
	width: 100vw;

	background-color: #633d1f;
	display: flex;
	align-content: space-around;
	height: 40vh;
	min-height: 300px;
	margin: 2vh 4vh;
	border-radius: 80px;
	background-size: cover;
	background-position: 80% 36%;
	background-image: url(../images/reinhart-julian-WxM465oM4j4-unsplash.jpg);
}
.searchBar {
	padding: 5px 5px 5px 5px;
}


/*
   ╔════════╗
   ║ BUTTON ║
   ╚╦══════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔*/
button {
	cursor: pointer;
	border-radius: 4px;
	background: #873c28;
	color: white;
}

button:hover {
	background: #873c28;
}

button:focus {
	background: #874e3f;
}
