/* 
  ╔════════════╗
  ║ GLOBAL CSS ║
  ╚╦══════════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔ */
@import url(./modules/fonts.css);
@import url (css/modules/footer.css);

:root {
	--color-hover: #ffffff;
	--color-foreground: #e2d7be;
	--color-background: #10191f;
}
* {
	color: var(--color-foreground);
}
*,
*::before,
*::after {
	margin: 0;
	box-sizing: inherit;
	box-sizing: border-box;
}
/* 
  ╔══════╗
  ║ BODY ║
  ╚╦════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔ */
.welcomeHeader {
	padding-top: 30px;
}
body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: var(--color-background);
}
.pageDescription {
	margin-top: 100px;
}
main p:first-of-type {
	margin-top: 15px;
}
main {
	align-self: center;
	width: 100vw;

	background-color: #633d1f;
	display: flex;
	align-content: space-around;
	height: 40vh;
	min-height: 300px;
	margin: 2vh 4vh;
	border-radius: 80px;
	background-size: cover;
	background-position: 80% 36%;
	background-image: url(../images/reinhart-julian-WxM465oM4j4-unsplash.jpg);
}

.logoimage img {
	height: 60px;
	float: left;
}

li.navigation_li {
	list-style: none;
}
.searchBar {
	padding: 5px 5px 5px 5px;
}
a.navigation_li {
	font-size: clamp(1rem, 8vw - 2rem, 1.6rem);
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 50px;
}
a.navigation_li.active {
	text-decoration: underline;
}
a.navigation_li:hover {
	color: #fff;
	transition: 0.2s ease;
}

.navigation {
	background-color: #633d1f;
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	align-items: center;
}

.nav_ul {
	margin-top: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropDown {
	display: none;
	cursor: pointer;
	width: 25px;
	position: absolute;
	top: 25px;
	right: 5%;
}
@media (max-width: 600px) {
	.hamburgerLine {
		width: 25px;
		height: 3px;
		display: block;
		margin: 5px auto;
		border-radius: 20px;
		transition: all 0.3s ease-in-out;
		background-color: var(--color-foreground);
	}
	.hamburgerLine:hover {
		background-color: var(--color-hover);
	}

	.navigation {
		min-height: 80px;
	}
	.dropDown {
		display: block;
	}
	.dropDown.active .hamburgerLine:nth-child(2) {
		opacity: 0;
	}
	.dropDown.active .hamburgerLine:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.dropDown.active .hamburgerLine:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav_ul {
		position: fixed;
		left: -100%;
		top: 80px;
		gap: 0;
		flex-direction: column;
		background-color: var(--color-background);
		width: 94vw;
		transition: 0.3s;
		padding: 20px 20px;
		align-items: flex-start;
		border-radius: 20px;
		box-shadow: 0px 2px 5px var(--color-foreground);
	}
	.navigation_li {
		margin: 16px 8px;
		color: var(--color-foreground);
	}
	navigation_li.active {
		border-bottom: none;
		color: #fe4e5b;
	}
	a.navigation_li:hover {
		color: var(--color-hover);
	}
	.nav_ul.active {
		left: 3vw;
	}
	main {
		margin: 40px 2vw 0 2vw;
		height: 260px;
	}
}

/*
   ╔════════╗
   ║ BUTTON ║
   ╚╦══════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔*/
button {
	cursor: pointer;
	border-radius: 4px;
	background: #873c28;
	color: white;
}

button:hover {
	background: #873c28;
}

button:focus {
	background: #874e3f;
}
