/*
   ╔═════════╗
   ║ PROFILE ║
   ╚╦═══════╦╝
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔*/
.profileContainer {
	display: flex;
	align-items: center;
	align-content: flex-start;
	flex-direction: column;
	justify-content: center;
}

.header {
	margin: 40px;
}
.imageContainer {
	width: 100vw;
	display: flex;
	justify-content: center;
}
.image {
	width: 60wv;
	height: 60vh;
	border: 1px solid #34495e;
	margin: 0 auto;
	object-fit: contain;
	object-position: center;
}
.numberOfResults {
	margin: 15px auto;
}


	*/
	.resultsContainer {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	margin-left: 5vw;
	margin-right: 5vw;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
}

.card:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in-out;
}

.cardTitle {
	text-align: center;
	padding: 20px 0px;
}

.date {
	color: rgb(56, 56, 56);
	font-size: 0.8em;
}
.card {
	width: 350px;
}
.cardIMG {
	padding: 0px;
	margin: 0px;
	height: 250px;
	width: 350px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media all and (min-width: 800px) {
	.blogCardsContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1200px;
	}

	.card {
		margin: 10px;
	}

	.cardIMG {
		height: 250px;
		width: 350px;
	}
}
