/* ————————————————————————————————————————————————————————————————————
		css - Image specific
———————————————————————————————————————————————————————————————————————— */

.specificContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
margin-top: 40px;

}
.photographer div{display: flex;}
.photographer div p{margin: 4px auto}
.imageContainer {
	display: flex;
	justify-content: center;
}
.imageContainer{margin:30px}
.image {
	width: 60wv;
	height: 60vh;
	border: 1px solid #34495e;
	margin: 0 auto;
}
.image-contain {
	object-fit: contain;
	object-position: center;
}

.location {
}
/* 
<div class="container">

<a href= Photographer.html?username=${result.user.username}>
	<h1>${result.user.name}</h1>		
</a>	

<div class=imageContainer>
	<img src="${result.urls.regular}">
</div>

<div>${result.description}
</div>						

<div class=location>
${result.location.country}<p>
</div>	 */
